:root {
    --main-bg-color: #ffb884;
    --seg-color: #c0d1c2;
    --ter-color:#2e4347;
    --qua-color:#f5df98;
    --qui-color:#fff8d4; 
    --fonte-titulo: Georgia,'Times New Roman', Times, serif;
    --fonte-texto: "Roboto", Verdana, Arial, sans-serif;
  }


*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

img {width: 100%;height: auto;}

a{text-decoration: none;}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: var(--main-bg-color);
    color: black; 
    font-size: 16px;
    font-family: var(--fonte-texto);
    line-height: 1.625em;
}

header{background-color: var(--qua-color);padding: 1em;}

/* nav{
    background-color: var(--seg-color);
    text-align: center;
    padding: 1em;
} */
main{   
    background-color: var(--qui-color);
    min-height: 400px;
    padding: 1em;
}
footer{ 
    padding: 1em;
    background-color: var(--ter-color);
    color: #fff;
    text-align: center;
    
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--fonte-titulo);
    text-align: center;
}

p{
    margin-bottom: 0.9em;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: keep-all;
}

.container {
    width: 90%;
    max-width: 1024px;
}


