:root {
    --main-bg-color: #ffb884;
    --seg-color: #c0d1c2;
    --ter-color:#2e4347;
    --qua-color:#f5df98;
    --qui-color:#fff8d4; 
    --fonte-titulo: Georgia,'Times New Roman', Times, serif;
    --fonte-texto: Verdana, Arial, sans-serif;
  }

/*RESET GERAL*/
*, *::after, *::before {margin: 0;padding: 0;box-sizing: border-box;}

html, body{height: 100vh;font-size: 100%;}

body {
    height: 100vh;
    background-color: var(--main-bg-color);
    color: black; 
    font-size: 16px;
    font-family: var(--fonte-texto);
    line-height: 1.625em;
    scroll-behavior: smooth;
    overflow: hidden;
}

header, main, footer{
    padding: 0.5em;
}

header{background-color: var(--qua-color);}

#header_info{
    
    display: flex;
    justify-content:space-around;
    align-items: center;
}

#header_logo{
    margin-top: 1em;
    width: 116px;
    height: 116px;
}
#header_info h1{
    flex: 1;
}

/* nav{
    background-color: var(--seg-color);
    text-align: center;
    padding: 1em;
} */

main{   
    background-color: var(--qui-color);
}
footer{ 
    background-color: var(--ter-color);
    color: #fff;
    text-align: center;
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--fonte-titulo);
    text-align: center;
    text-shadow: 1px 1px 2px var(--ter-color);
    margin: 0.5em 0;
}

p{
    margin-bottom: 0.9em;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: keep-all;
}

img{display: block;margin: auto;max-width: 100px;border-radius:5px;box-shadow: 2px 2px 5px #999;}

a{text-decoration: none;}

.container {
    width: 95%;
    margin:0 auto;
    overflow: hidden;
}


