* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul {
    text-decoration: none;
}

img {
    max-width: 100%;
    display: block;
    margin: auto;
}

p {
    margin: 40px 0;
}

button {
    margin: 20px 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: green;
    /*height: 100%;*/
}
header{
    background-color: yellow;
}
main{
    background-color: blue;
    color:white;
}
footer{
    background-color: white;
    
}

/*CLASSES*/
/*CONTAINER centraliza e define tamanho do width em %*/
.container {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    height: 200px;
}
