/*** reset básico ***/
*, *::after, *::before{margin:0;padding:0;box-sizing:border-box;border:none;outline:none;text-decoration: none;}

/*** DEFININDO VARIAVEIS GLOBAIS ***/
:root {

    /*FONTES*/
    --fonte-paragrafo: "Roboto", sans-serif;
    --fonte-titulos: Helvetica,sans-serif;
   
    /*CORES*/
    --cor-texto: #000;
    --cor-titulo: #eaece5;
    --cor-bg: #191970;
    --cor-bg-2: blue;
    --cor-bg-3: #373737;
    --bg-light:#e9e9e9;
    --bg-light-2:#eaece5;
  }

html, body{height: 100vh;width: 100%;font-family:var(--fonte-texto);font-size: 100%;}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-light);
}
main, header{border: 1px solid #777;}

header{background-color: var(--cor-bg);margin-top: 1em;}

main{background-color: var(--bg-light-2); padding: 2em;}

a{color: #fff; font-weight: bold;font-size: 1.1em;}

button{
    background-color: #084d6e;
    /* background-color: #007bff; */
    border-radius: 15px;
    border: 3px solid var(--cor-bg);
    margin: 1em 0;
    padding: 1em;
}

p{
    color: var(--cor-texto);
    font-family: var(--fonte-paragrafo);
    font-size: 1em; 
    letter-spacing: 0.05rem;
    line-height: 1.6em;
    overflow-wrap: break-word;
    padding: 0 0.5em;
    text-align: left;
}

h1,h2,h3,h4,h5,h6{font-family:var(--fonte-titulos);color: var(--cor-titulo);text-align: center;text-shadow: 1px 1px 2px var(--cor-texto);line-height: 1.6em;}
h1{font-size: 1.9em;}
h2{font-size: 1.8em;}
h3{font-size: 1.6em;}
h4{font-size: 1.4em;}

hr{
    width: 280px;
    height: 1px;
    border: 1px solid blue;
}

/*** CLASSES AUXILIARES ***/
/*CONTAINER centraliza e define tamanho do width em %*/
.container{width:95%;overflow: hidden;}



